<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iandrobot.nepalwatchface" >

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NepalAnalogCardBoundsWatchFaceConfigActivity"
            android:label="@string/title_activity_nepal_analog_card_bounds_watch_face_config" >
            <intent-filter>
                <action android:name="com.iandrobot.nepalwatchface.CONFIG_ANALOG"/>
                <action android:name="com.iandrobot.nepalwatchface.CONFIG_CARD_BOUNDS"/>
                <category android:name="com.google.android.wearable.watchface.COMPANION_CONFIGURATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
